/* футер  */
.footer {
  background-color: $background-dark-grey;
  color: $accent-white-color;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.adress__box {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}
.logo--footer {
  color: $accent-white-color;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 0;
}
.address {
  font-style: normal;
}
.contacts__link--footer {
  margin-top: 9px;

  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $blurred-white;

  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $accent-white-color;

  margin-bottom: 20px;
}

.social-list__link--footer {
  background-color: $very-blured-white;
  color: $accent-white-color;

  &:hover,
  &:focus {
    background-color: $accent-text-color;
    outline: none;
  }
}
.container__footer {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.footer__information-box {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: calc(100% - 663px);
  }
}
.join_us-box {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}
.mailing__box {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mailing__input-mail {
  display: inline-block;
  width: calc(100% - 30px);
  max-width: 450px;
  font-size: 16px;
  font-weight: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 15px 16px;

  color: $accent-white-color;
  background-color: $background-dark-grey;

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    width: 354px;
    margin-right: 12px;
  }
}
.mailing__btn--box {
  display: flexbox;
  justify-content: center;
  align-items: baseline;
}
.mailing__icon {
  margin-left: 10px;
}
