$text-color: #757575;
$title-text-color: #212121;
$accent-text-color: #2196f3;
$accent-white-color: #ffffff;
$blurred-white: rgba(255, 255, 255, 0.6);
$very-blured-white: rgba(255, 255, 255, 0.1);
$background-color: #e5e5e5;
$background-light-grey: #f5f4fa;
$background-dark-grey: #2f303a;
$background-button: #188ce8;
$icon-color: #afb1b8;
$total-black: #000000;
